* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.jogo {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.jogo--iniciado {
  justify-content: flex-start;
}
.cartao {
  padding: 20px;
  background: #ffffff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.titulo {
  font-size: 40px;
  color: rgb(50, 120, 255);
  text-align: center;
}
.subtitulo {
  font-size: 30px;
  color: rgb(230, 120, 50);
  text-align: center;
}
.grupo {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.dados-personagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 50%;
}
.identificador-personagem {
  margin-bottom: 15px;
  font-size: 22px;
}
.barra {
  width: 90%;
  height: 30px;
  margin-bottom: 15px;
  border: 1px solid rgb(37, 165, 5);
  transition: all 300ms ease-in;
}
.barra.atencao {
  border-color: rgb(247, 178, 51);
}
.barra.problema {
  border-color: rgb(230, 120, 50);
}
.barra.critico {
  border-color: rgb(255, 50, 51);
}
.barra-de-vida {
  height: 100%;
  background-color: rgb(37, 165, 5);
  transition: background-color 300ms ease-in;
}
.barra-de-vida.atencao {
  background-color: rgb(247, 178, 51);
}
.barra-de-vida.problema {
  background-color: rgb(230, 120, 50);
}
.barra-de-vida.critico {
  background-color: rgb(255, 50, 51);
}
.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.acoes .botao:not(:last-of-type) {
  margin-bottom: 10px;
}
.botao {
  display: block;
  min-width: 180px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.botao:focus {
  outline: none;
}
.botao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.botao__iniciar {
  margin: 0 auto;

  background-color: rgb(50, 120, 255);
}
.botao__ataque {
  background-color: rgb(255, 50, 51);
}
.botao__ataque-especial {
  background-color: rgb(230, 120, 50);
}
.botao__curar {
  background-color: rgb(37, 165, 5);
}
.botao__desistir {
  color: #000000;
  background-color: #c5c5c5;
}
.log-jogo {
  list-style: none;
}
.log-jogo__item {
  margin-bottom: 10px;
  padding: 15px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
}
.log-jogo__item.J2 {
  background-color: rgba(255, 50, 51, 0.65);
}
.log-jogo__item.J1 {
  background-color: rgba(50, 120, 255, 0.65);
}

@media only screen and (min-width: 768px) {
  .acoes .botao:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 0
  }
}