<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Estilo V4 | Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <style>
    .caixas {
      display: flex;
      padding: 30px;
      justify-content: space-around;
    }
    .demo {
      width: 50px;
      height: 50px;
      background: #cccccc;
      transition: all 0.3s ease-in;
    }
    .c1 {
      background: red;
    }
    .c2 {
      background: green;
    }
    .c3 {
      background: blue;
    }
    .girar {
      transform: rotate(45deg);
    }
  </style>
  <body>
    <div id="app">
      <div class="caixas">
        <div class="demo"></div>
        <div
          class="demo"
          :style="[meuEstilo, {height: altura}]"
        ></div>
        <div class="demo"></div>
      </div>
      <input type="text" v-model="cor">
      <input type="number" v-model="largura">
    </div>
    <script type="text/javascript">
      new Vue({
        el: "#app",
        data: {
          cor: 'red',
          largura: 100,
          altura: 20
        },
        computed: {
          meuEstilo: function() {
            return {
              backgroundColor: this.cor,
              width: this.largura + 'px',
            }
          },
          aplicarGiro: function() {
            return this.girar && 'girar'
          }
        }
      });
    </script>
  </body>
</html>
