<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Listas V4 | Curso VueJS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul style="list-style: none;">
      <li v-for="(cor, indice) in cores">
        {{ indice + 1 }}: {{ cor }}
      </li>
    </ul>
    <hr>
    <template v-for="(cor, indice) in cores">
      <span>{{ cor }} </span>
      <span>{{ indice }} </span>
    </template>
    <hr>
    <ul>
      <li v-for="(pessoa, indice) in pessoas" style="margin-bottom: 10px">
        <span v-for="(valor, chave, indiceP) in pessoa">
          {{ chave }}: {{ valor }} - {{ indiceP }}
          <br>
        </span>
      </li>
    </ul>
  </div>
  <script type="text/javascript">
    new Vue({
      el: "#app",
      data: {
        cores: [
          'vermelho',
          'verde',
          'amarelo',
          'azul'
        ],
        pessoas: [
          {
            nome: "Ana",
            idade: 26,
            peso: 59
          },
          {
            nome: "Guilherme",
            idade: 22,
            peso: 89
          },
        ]
      }
    })
  </script>
</body>
</html>